.body {
  width: 100%;
  height: auto;
  color: #bd0707;
  font-family: sans-serif;
  font-style: normal;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
}
